/* FONT-FACE & HTML-BODY */
@font-face {
    font-family: 'Aldo the Apache';
     src: url(fonts/AldotheApache.ttf);
    font-family: 'Square';
     src: url(fonts/Square.ttf);
   }

html, body {
    position: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Aldo the Apache';
    color: azure;
    background-color: black;
    margin: 0;
}

/* ACCEUIL */
.Hlayout {
    display: flex;
    height: 100%;
    width: 100%;
}

.panel {
    height: 100%;
    width: 50%;
    transform: translate(0,0);
    transition: transform 1s;
}

.movepanel-left {
    transform: translate(-100%,0);
}

.movepanel-right{
    transform: translate(100%,0) ;
}

.centerdiv {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.TITRE, .logo {
    margin: 0;
    padding: 5%;
}

.TITRE {
    color: #efefef;
    font-size: 12em;
    text-shadow: 15px 15px 15px black;
    flex: 1;
}

.logo {
    position: absolute;
    height: auto;
    width: 25%;
    filter: drop-shadow(15px 15px 7px black);
    flex: 1;    
}

.profil {
    height: 100%;
    width: 100%;
}

/* TWITCH & YOUTUBE */

.hidden {
    display: none;
}

.twitch, .youtube {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    font-family: 'Square';
    font-size: 1em;
    color: #efefef;
    text-shadow: 3px 3px 3px black ;
}

div iframe {
    position: absolute;
    height: 40%;
    width: 40%;
    margin-top: 10%;
    margin-left: 30%;
}

/* FOND */
.background{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}