body {
    background-color: black;
    margin: 0;
}

.fondsite {
    display: flex;
    align-items: start;
    bottom: 10px;
    margin-top: 0;
}

.logoytb {
    margin-left: 75vh;
    z-index: 2;
}

.logotwitch {
    margin-left: 10vh;
    z-index: 2;
}

.backgroundvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.cotedroit {
    position: fixed;
    z-index: 1;
}

.cotegauche {
    position: fixed;
    z-index: 1;
}