@font-face {
    font-family: 'Aldo the Apache';
     src: url(fonts/AldotheApache.ttf);
   }

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    font-family: 'Aldo the Apache';
    color: azure;
    background-color: black;
    margin: 0;
}

.Hlayout {
    display: flex;
    height: 100%;
    width: 100%;
}

.panel {
    height: 100%;
    width: 50%;
}

.centerdiv {
    position: absolute;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-around;
}

.TITRE {
    position: absolute;
    font-size: 13em;
    text-shadow: 15px 15px 15px black;
    flex: 1;
}

.logo {
    position: absolute;
    height: auto;
    width: 25%;
    filter: drop-shadow(15px 15px 7px black);
    flex: 1;    
}

.backgroundvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}